@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css';

.mainBody{
  background-color: #FFDFDF;
}

.board{
  background-color: #FFF6F6;
}

.reset{
  background-color: #F875AA;
  color: black;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.reset:hover{
  background-color: #cf1925;
  color: whitesmoke;
}

.board-row {
  display: flex;
}

.square {
  font-size: 1.5rem;
  padding: 40px 50px;
  margin: 5px;
  background-color: #AEDEFC;
  color: #10596c;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.square:hover {
  background-color: rgba(255, 0, 72, 0.8);
}



